/*
Auteurs : 
Warren Madanamoothoo 
Emmanuel Halter 

Mail :
kingdomdesire@gmail.com
*/


body {
	background-color : #E6E6E6;
	margin: 0 auto;
}

body, html {
	width: 100%;
	height: 100%;
	font-size:100%;
}


/****************   CONTENT : Revue des effectifs ****************/
#content {
	width: 85%;
	background-color: #CEE3F6;
	margin: auto;
}

div[name="return"] {
	width: 5%;
	height: 2rem;
	padding-left: 0.8%;
}

.galleria { 
	width: 100%; 
	height: 40rem;
}

