/*
Auteur : Warren Madanamoothoo
E-mail : kingdomdesire@gmail.com
Site web : http://ashiette.rd-h.com

CSS non-libre de droit
*/

body {
	background : url('./images/renaud.png'), url('./images/pat6.jpg');
	background-repeat : no-repeat, repeat;
	background-attachment : fixed, scroll;
	padding : 0;
	margin : 0;
	overflow : hidden;
}

div {
	position : absolute;
}

.parallax {
	-webkit-perspective: 300px;
	perspective: 300px;
	height: 100vh;
	overflow-x: hidden;
	overflow-y: auto;
}

.layer {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

nav {
	position : fixed;
	z-index : 999;
}

nav a {
	width : 50px;
	height : 50px;
	margin-left : 15px;
	background : rgba(210,210,210,0.96);
	position : absolute;
	overflow : hidden;
	border : 1px solid #444;
	border-radius : 0 0 10px 0;
}

.navlink {
	padding : 0 15px 0 15px;
	font-size : 13px;
	color : white;
	padding-left : 75px;
	display : none;
}

#accueil {
	background : url('./icons/home_2.png') no-repeat, rgba(150,150,150,0.60);
}

#quidditch {
	background : url('./icons/snitch_2.png') no-repeat, rgba(150,150,150,0.96);
}

#qsn {
	background : url('./icons/qsn_2.png') no-repeat, rgba(150,150,150,0.96);
}

#equipe {
	background : url('./icons/team_2.png') no-repeat, rgba(150,150,150,0.96);
}

#photo {
	background : url('./icons/photo_2.png') no-repeat, rgba(150,150,150,0.96);
}

#forum {
	background : url('./icons/forum_2.png') no-repeat, rgba(150,150,150,0.96);
}

#faq {
	background : url('./icons/faq_2.png') no-repeat, rgba(150,150,150,0.96);
}

#contact {
	background : url('./icons/contact_2.png') no-repeat, rgba(150,150,150,0.96);
}

.info {
	position : static;
	margin : auto;
	left : 0px;
	background : rgba(255,255,255,0.95);
	width : 100%;
}

#news {
	position : static;
	padding : 25px 0 0 0;
	-webkit-transform : translateZ(0) scale(1);
	transform : translateZ(0) scale(1);
}

.overhead {
	position : absolute;
	right : 20px;
}


#news_header {
	height : 50px;
	padding : 0 25px 0 25px;
	margin-bottom : 25px;
	background : rgba(192,228,247,0.6);
	border : 1px solid white;
	border-radius : 25px;
}

#news_local {
	height : 100px;
	width : 290px;
	left : 20px;
	background : red;
}

#news_global {
	height : 100px;
	width : 290px;
	left : 350px;
	background : blue;
}

#background {
	background : url('./images/cover.jpg')no-repeat center center; 
	background-size: cover;
	-webkit-transform : translateZ(-300px) scale(2);
	transform : translateZ(-300px) scale(2);
}

#main { 
	width : 700px;
	height : 900px;
	background : #f7f7f7;
	border : 2px solid #666;
	border-radius : 20px;
	padding : 0;
	position : static;
	-webkit-transform : translateZ(-150px) scale(1);
	transform : translateZ(-150px) scale(1);
}

#content {
	width : 620px;
	margin : 0 30px 0 40px;
	position : relative;
}

.title {
	border-bottom : 1px solid black;
	margin : 5px 0 5px 0;
}

.subtitle {
	margin : 0;
}

.article {
	width : 620px;
	margin : 0;
	border : none;
	background : transparent;
}

/* Info joueurs */

.pl_info {
	background : red;
	display : none;
	position : fixed;
	z-index : 999;
	border-radius: 1%;
}

#pl_list {
	position : fixed;
	z-index : 999;
	display : none;
	
}